<html>

<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<title>{{subject}}</title>
</head>
<div>
<form action="http://localhost:8080/" method="post">
<table border=1>
<fieldset>
	<center>{{date}}</center>
</fieldset>
<br>
<center>
<textarea id="content" style="width:1000px;height:500px;">
		{{content}}
</textarea>
</center>
<br>
<center>
<input type="reset" style="font-size:30px" value="取消">
<input type="button" style="font-size:30px" value="送出">
</center>
</form>
</div>
</html>

 
  
 
